{{> p5scripts }}
<script src='/public/js/createLevel.js' type='text/javascript'></script>
<div class='container'>
    <div class='row justify-center'>
    <div class='col-12'>
    <div id="canvasContainer"></div>
        <button class='btn btn-primary' onclick='saveLevel()'>Upload level <i class='fas fa-cloud-upload-alt'></i></button>
    </div>
    </div>
</div>