{{> p5scripts create=true}}
<div class='container'>
    <div class='row justify-center'>
    <div class='col-12'>
    <div id="canvasContainer"></div>
        <button id='createLevelBtn' class='btn btn-primary' onclick='saveLevel()'>Upload level <i class='fas fa-cloud-upload-alt'></i></button>
    </div>
    </div>
</div>