{{> p5scripts create=true}}
<div class='container'>
    <div class='row justify-center'>
    <div class='col-sm'>
    <div id="canvasContainer"></div>
    {{> metadata create=true}}
    </div>
    {{> ui-controls create=true}}
    <script>togglePause(true);</script>
    </div>
</div>