{{> p5scripts play=true }}
<div class='container'>
    <div class='row justify-center'>
    <div class='col-sm'>
    <div id="canvasContainer"></div>
        {{> metadata play=true}}
    </div>
        {{> ui-controls}}
        <script>togglePause(false);</script>
    </div>
</div>