#googleSignIn:hover {
    background: url('/public/images/btn_google_signin_light_focus_web.png');
    cursor: pointer;
}

#googleSignIn:active {
    background: url('/public/images/btn_google_signin_light_pressed_web.png');
}

body {
    background: url('/public/images/smart rockets texture.png')
}

#fitnessSelect {
    width: 17em;
}