  <nav class='navbar navbar-dark primary-color sticky-top mb-4'>
      <a href='/' class='navbar-brand'>
          <h2 class='text-dark '>Smart Rockets</h2>
      </a>
      <ul class='navbar-nav mr-auto'>
        <li class='nav-item active'>
          <a href='/create' class='nav-link p-2 border border-0'>Create level
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
    </nav>
  