  <nav class='navbar navbar-dark primary-color sticky-top mb-4'>
      <a href='/' class='navbar-brand'>
          <h2 class='navbar-brand text-dark'>Smart Rockets</h2>
      </a>
      <ul class='navbar-nav mr-auto'>
        <li class='nav-item active'>
          <a href='/create' class='nav-link p-2 border border-0'>Create <i class='fa fa-plus'></i>
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
      {{#unless user}}
        <span>
          <a href='auth'>
            <img id='googleSignIn' src="/public/images/btn_google_signin_light_normal_web.png" alt="">
          </a>
      {{/unless}}
      </span>
    </nav>
  