  <div class='container-fluid'>
    <div class='row'>
         <h2>Smart Rockets</h2>
         <a href='/create'>
         <button>Create a Level</button> or play one below to get started
         </a>
    </div>
    </div>