<div class='col-sm'>
    <div class="row">
        <div class='col-sm border-left'>

            {{!-- Population Slider --}}
            <label for="populationSlider">Population Size: <span id='populationValue'>50</span></label>
            <input type="range" class="custom-range" value='50' min="1" max="200" step="1" id="populationSlider">

            {{!-- Mutation Rate --}}
            <label for="mutationSlider">Mutation Rate: <span id='mutationValue'>0.1</span></label>
            <input type="range" class="custom-range" value='.1' min="0" max="100" step="0.1" id="mutationSlider">

            {{!-- Lifespan --}}
            <label for="lifespanSlider">Lifespan: <span id='lifespanValue'>6</span> seconds</label>
            <input type="range" class="custom-range" value='360' min="5" max="2000" step="1" id="lifespanSlider">

            {{!-- Camera Follow --}}
            <button id='setFollowBtn' class='btn btn-primary mt' onclick='setFollow()'>Follow</button>
        </div>
        
        <div class="col-sm">
            <span>Fitness Algorithm</span>
            <div class='row'>
                <select id='fitnessSelect' class='browser-default custom-select'>
                    <option selected hidden disabled>Please Select</option>
                    <option>Distance</option>
                    <option>Distance & Time</option>
                </select>
            </div>
            <div class="row">
                <button id='togglePauseBtn' class='btn btn-success mt-3' onclick='togglePause()'><span id='pauseState'>Play</span> <i class='fas fa-play'></i></button>
                {{#if create}}
                    {{#unless user}}
                        <button id='createLevelBtn' disabled='disabled' class='btn btn-primary mt-3'>Not logged in <i class='fas fa-cloud-upload-alt'></i></button>
                    {{else}}
                        <button id='createLevelBtn' class='btn btn-primary mt-3' onclick='saveLevel()'>Upload level <i class='fas fa-cloud-upload-alt'></i></button>                        
                    {{/unless}}
                {{/if}}
            </div>
            <div class="row">
                {{!-- Create Population --}}
                <button id='setFollowBtn' class='btn btn-primary mt' onclick='createPopulation()'>Begin Simulation</button>
                {{!-- Kill Population --}}
                <button id='setFollowBtn' class='btn btn-primary mt' onclick='killPopulation()'>Kill Simulation</button>
            </div>
            <div class = "row" id="editorUI">
                <div class = "row">
                    {{!-- Position X --}}
                    <div class="col-4">
                    Position X<input class="form-control" type="number" id="positionXForm">
                    </div>
                    {{!-- Position Y --}}
                    <div class="col-4">
                    Position Y<input class="form-control" type="number" id="positionYForm">
                    </div>
                </div>
                <div class = "row">
                    {{!-- Scale X --}}
                    <div class="col-4">
                    Scale X<input class="form-control" type="number" id="scaleXForm">
                    </div>
                    {{!-- Scale Y --}}
                    <div class="col-4">
                    Scale Y<input class="form-control" type="number" id="scaleYForm">
                    </div>
                </div>
                <div class = "row">
                    {{!-- Start Force X --}}
                    <div class="col-4">
                    Start Force X<input class="form-control" type="number" id="forceXForm">
                    </div>
                    {{!-- Start Force X --}}
                    <div class="col-4">
                    Start Force Y<input class="form-control" type="number" id="forceYForm">
                    </div>
                </div>
                <div class = "row">
                    {{!-- Rotation Point X --}}
                    <div class="col-4">
                    Rotation Point X<input class="form-control" type="number" id="rotateXForm">
                    </div>
                    {{!-- Rotation Point Y --}}
                    <div class="col-4">
                    Rotation Point Y<input class="form-control" type="number" id="rotateYForm">
                    </div>
                </div>
                <div class = "row">
                    {{!-- Rotation Interval --}}
                    <div class="col-4">
                    Rotation Interval<input class="form-control" type="number" id="intervalForm">
                    </div>
                    <div class="col-4">
                        <div class = "row">
                            Select
                        </div>
                        <div class = "row">
                            <button type="button" class="btn btn-primary btn-circle" onclick = 'selectRotation()'><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src='/public/js/constants.js'></script>
<script src='/public/js/ui-controls.js'></script>